*{
	font-family: 'Oswald', sans-serif;
	box-sizing: border-box;
}

body,
div .container {
	background: #000000;
	margin: 0;
}

a {
	text-decoration: none;
	color: #9d9d9d;
}

a:hover {
	text-decoration: none;
	color: white;
}

div .navbar.navbar-inverse.navbar-static-top {
	max-width: 100%;
	margin: 0;

}

#login-header {
	text-align: center;
	font-weight: 700;
}

#monster {
	text-align: center;
	width: 50%;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

#monster img {
	display: block;
	max-width: 200px;
	border-radius: 100%;
	border: solid 2px #01FF2C;
}


#enter-info input{
	width: 100%;
	margin: auto;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #000000;
	border: 2px solid;
	border-color: #111111;
}


.col-xs-12 {
	height: 45px;
	text-align: center;
	color: #FFFFFF;
	background: #111111;
	border: solid 1px #999999;
	margin: auto;
	

}

div #enter-info{
	height: 200px;
	background: #111111;
	padding-top: 10px;
	color: #999999;
	margin: auto;
	margin-bottom: 20px;


}

.col-xs-6 {
	height: 50px;
	color: #000000;
	background-color: #f5e694;
	border: solid 1px #974652;
	padding-left: 15px;
	

}

#right {
	height: 50px;
	color: #000000;
	text-align: right;
	background-color: #f5e694;
	border: solid 1px #974652;
	padding-right: 15px;
	padding-top: 15px;

}

.col-xs-4 {
	height: 50px;
	color: #000000;
	background-color: #5dca99;
	border: solid 1px #974652;
	padding-left: 15px;
	padding-top: 15px;

}

.col-xs-8  {
	height: 40px;
	color: yellow;
	background-color: blue;

}




.footer .col-sm-4 {
	height: 45px;
	/*max-width: 700px;*/
/*	if you put this in a container and set that container's max width, that might work to center it.
*/	text-align: center;
	color: purple;
	background: #111111;
	border: solid 1px #999999;
	padding-top: 10px;
	margin: auto;
	margin-bottom: 5px;

}

