div .col-xs-12.profile-header{
	background: #000000;
	color: #38FF18;
	border: 0;
	padding-top: 6px;
	font-weight: 300;
	font-size: 1.7em;
	margin-top: -20px;
}

div .col-xs-12.profile-form {
		height: 80px;
		text-align: left;
		border: 0;

}

div .col-xs-12.label {
		height: 25px;
		background: #000000;
		border: 0;
		text-align: left;
		font-size: .9em;
		font-weight: 300;
		color: #5767CC;
		padding: 0;
		padding-top: 2.5px;
		padding-left: 5px;
		border-bottom: solid 1px #999999;

		
}


div .col-xs-12.input {
		height: 40px;
		text-align: left;
		padding-top: 3px;
		padding-left: 5px;
		background: #000000;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		margin-bottom: 20px;
		
}

div .col-xs-12.location {
		height: 40px;
		text-align: left;
		padding-top: 3px;
		padding-left: 5px;
		background: #000000;
		border-left: 0;
		border-right: 0;
		font-weight: 300;
		font-size: 1.45em;
		border-top: 0;
		
}

div .col-xs-12.input input {
		background: #000000;
		border: 0;
		font-weight: 300;
		font-size: 1.45em;
		color: white;
		padding-top: 2.5px;
		padding-left: 5px;
		margin-bottom: 20px;
}


div .col-xs-6.view-link {
	background: #000000;
	text-align: right;
	font-weight: 300;
	padding-top: 12px;
	color: #38FF18;
	margin-right: 0;
	border: 0;


}

div .col-xs-6.view-link.left {
	text-align: left;
	padding-top: 0;
	padding-top: 2px;
	padding-bottom: 5px;
}





span.glyphicon.glyphicon-globe,
span.glyphicon.glyphicon-road {
	
	margin-left: 8px;
	padding-bottom: 2px;
	font-size: 1.1em;
}

div.col-xs-12.to-dashboard {
	background: #38FF18;
	color: #000000;
	font-size: 1.55em;
	padding-top: 5.25px;
	font-weight: 400;
}






